*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgb(19, 48, 73);
}

main{
    display: flex;
    gap: 16px;
    height: 1080px;
    overflow: auto;
}
aside{
    width: 20%;
}

aside img{
    width: 100%;
    height: 100%;
}

/*#barra{
    overflow: hidden;
    height: 1080px;
    }*/

.contenedorVistaPokemon{
    flex: 1; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
article{
    background-color:  rgb(41, 68, 91);
    width: 300px;
    border-radius: 5%;
    font-size: 18px; /*tamaño letra*/
    font-family: "sans-serif", sans-serif;
    color: rgb(253, 250, 250); /*color texto*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;

}