* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.content {
    height: 100%;
    overflow-y: auto;
}

body {
    background-color: rgb(19, 48, 73);
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(19, 48, 73);
    font-size: 20px;
    margin-top: 50px;
}

.barra-horizontal{
    list-style: none;
    display: flex;
    color:  rgb(19, 48, 73);
    font-family: "sans-serif", sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-around;
}

#tipos{
    padding: 5px 15px;
    background-color: rgb(44, 241, 22);
    color: rgb(19, 48, 73);
    font-family: "sans-serif", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5%;
    display: inline-block; 
    
}

#tiposLetra{
    font-size: 14px;
}

#ordenarAlfabeticamente, #botonInicio, #top{
    padding: 5px 15px;
    color: rgb(19, 48, 73);
    border: 0ch;
    font-family: "sans-serif", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5%;
    display: inline-block; 
    
}

#parrafoTop, input{
    text-align: center;

}

.barra-horizontal > li:hover{
    background-color: black;
}

.barra-horizontal > li:hover .lista-tipos{
    display: block;
}

main {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;

}

aside {
    width: 20%;
    position: static;
}

aside img {
    width: 100%;
    height: 100%;
    position: static;
    overflow: hidden;
    object-fit: cover;
}


.contenedorVistaPokemon {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    overflow: auto;
}

article {
    background-color: rgb(41, 68, 91);
    width: 300px;
    border-radius: 5%;
    font-size: 18px;
    font-family: "sans-serif", sans-serif;
    color: rgb(253, 250, 250);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
}

footer {
    background-color: rgba(19, 48, 73);
    padding: 1em 2em 1em;
    border: 0px solid rgb(251, 244, 244);
    font-size: 12px;
    font-family: "sans-serif", sans-serif;
    color: rgb(253, 250, 250);
    text-align: center;
}